.page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.form_container {
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 7px;
    width: 23rem;
    height: 28rem;
}

.title_form {
    text-align: center;
    margin: 20px;
}

.title_form h1 {
    color: #777;
}

.title_form svg {
    fill: #777;
    font-size: 1.6rem;
    margin-top: 20px;
}


.form_container label {
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    margin: 25px;
    color: #777;
       
}

.form_container input {
    display: flex;
    width: 300px;
    border-radius: 5px;
    height: 25px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0;
    color: #777;
    border: none;
}

.form_container input::placeholder{
    color: #b0afaf;
}

.form_container span {
    color:red;
    font-size: 0.7rem;
    position: fixed;
    margin-top: 43px;
    
}

.btn {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}

.btn button {
    width: 100px;
    height: 25px;
    border:  none;
    border-radius: 5px;
    color: white;
    background-color: #cd00ed;
    font-weight: bold;
    transition: 0.2s;
}

.btn button:hover {
    cursor: pointer;
    transform: scale(1.06);
    transition: 0.2s;
}

